.none{
    display: none;
}

h2{
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
}

.historic {
    align-self: center;
}

.historic-columns {
    display: flex;
    align-self: center;
    align-content: space-between;
}

.historic-columns div {
    min-width: 15vw;
    text-align: center;
}

